<div class="col-sm-11">
  <%#= form_with scope: :post, url: post_path(@post), method: :patch do |form| %>	
  <%#= form_with scope: :post, url: post_path(@post), method: :patch do |form| %>	
  <%#= form_with(model: business_trip, url: local: true) do |f| %>
  <%#= form_with(model: business_trip, local: true) do |f| %>


  <%= form_with(model: business_trip, url: update_costs_business_trip_path(business_trip), method: :patch, local: true) do |f| %>	

    <% input_disabled ||= false  
       #if input_disabled is not passed to the partial it doesn't crash. 
       # We default it to false 
    %>

    <%= form_errors_for business_trip %>



    <div class="row">
      <div class="col-sm-12">

        <fieldset class="my-fieldset">
          <legend class="my-fieldset"><%= t('pages.business_trip.fieldset.roads_title') %></legend>

          <div class="row">
            <div class="form-group col-sm-12">

              <div class='roads clearfix'>
                <div class="row">
                  <div class="form-group required col-sm-2">
                    <%= f.label Road.human_attribute_name(:from), class: 'control-label' %>
                  </div>
                  <div class="form-group required col-sm-2">
                    <%= f.label Road.human_attribute_name(:start_date_time), class: 'control-label' %>
                  </div>
                  <div class="form-group required col-sm-2">
                    <%= f.label Road.human_attribute_name(:to), class: 'control-label' %>
                  </div>
                  <div class="form-group required col-sm-2">
                    <%= f.label Road.human_attribute_name(:end_date_time), class: 'control-label' %>
                  </div>
                  <div class="form-group required col-sm-2">
                    <%= f.label Road.human_attribute_name(:transport_type_id), class: 'control-label' %>
                  </div>
                  <div class="form-group required col-sm-1">
                    <%= f.label Road.human_attribute_name(:cost), class: 'control-label' %>
                  </div>
                </div>  <!-- /row -->

                <div class='roads-sub-form'>
                  <%= f.fields :roads do |road_form|  %>
                    <%= render 'road_fields', f: road_form %> 
                  <% end %>
                </div>
                <%= link_to_add_fields( t("helpers.links.link_to_add_fields_nested"), f, :roads) %>
              </div>

            </div>
          </div> <!--/row -->
        </fieldset>

      </div> <!--/col-sm-12 -->
    </div>  <!-- /row -->


    <hr class="hr-without-top-margin">


    <% if input_disabled %>
      <!-- for "Show" -->
    <% else %>
      <!-- form "New"/"Edit" -->
      <div class="row">

        <%= link_to business_trips_path, class: "btn btn-default" do %>
          <span class="fa fa-list"></span>
          <%= t("helpers.links.index") %>
        <% end %>
        <%= link_to business_trip_path(business_trip), class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-arrow-left"></span>
          <%= t("helpers.links.back") %>
        <% end %>

        <%= f.submit nil, :class => 'btn btn-primary' %>
      </div> <!-- /row -->
    <% end %>
    
  <% end %>

</div> <!--/col-sm-11-->

