<div class="col-sm-11">
  <%= form_with(model: business_trip, local: true) do |f| %>

    <% input_disabled ||= false  
       #if input_disabled is not passed to the partial it doesn't crash. 
       # We default it to false 
    %>

    <%= form_errors_for business_trip %>

    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="form-group required col-sm-4">
            <%= f.label :number, class: 'control-label' %>
            <%= f.text_field :number, autofocus: true, class: 'form-control input-sm', disabled: input_disabled %>
          </div>

          <div class="form-group required col-sm-8"> 
            <%= f.label :employee_id, class: "control-label" %>
            <%= f.hidden_field :employee_id,
                              class: "form-control input-sm select2user", 
                              placeholder: t('placeholder.select2user'),
                              style: "width:100%",
                              disabled: input_disabled %>
            <small class="help-block"><%= t('help_block_text.select2user') %></small>
          </div>


          <div class="form-group required col-sm-6">
            <%= f.label :destination, class: 'control-label' %>
            <%= f.text_field :destination, class: 'form-control input-sm', disabled: input_disabled %>
          </div>
          <div class="form-group required col-sm-3">
            <%= f.label :start_date, class: 'control-label' %>
            <%= f.text_field :start_date, class: 'form-control input-sm datepicker', 
                              disabled: input_disabled %>
          </div>
          <div class="form-group required col-sm-3">
            <%= f.label :end_date, class: 'control-label' %>
            <%= f.text_field :end_date, class: 'form-control input-sm datepicker', 
                              disabled: input_disabled %>
          </div>

          <div class="col-sm-9">
            <fieldset class="my-fieldset">
              <legend class="my-fieldset"><%= t('pages.business_trip.fieldset.transports_title') %></legend>

              <div class="row">
                <div class="form-group col-sm-12">

                  <div class='transports clearfix'>
                    <div class='transports-sub-form'>
                      <%#= f.fields_for :transports, business_trip.reload.transports do |transport_form|  %>
                      <%= f.fields :transports do |transport_form|  %>
                        <%= render 'transport_fields', f: transport_form %> 
                      <% end %>
                    </div>
                    <%= link_to_add_fields( t("helpers.links.link_to_add_fields_nested"), f, :transports) %>
                  </div>

                </div>
              </div> <!--/row -->
            </fieldset>
          </div> <!-- /col-sm-9 -->

        </div>  <!-- /row -->

      </div>  <!-- /col-sm-6 -->

      <div class="col-sm-6">
        <div class="row">
          <div class="form-group required col-sm-12">
            <%= f.label :purpose, class: 'control-label' %>
            <%= f.text_area :purpose, :rows => 2, class: 'form-control input-sm', disabled: input_disabled %>
          </div>
          <div class="form-group col-sm-12">
            <%= f.label :trip_confirmation, class: 'control-label' %>
            <%= f.text_area :trip_confirmation, :rows => 2, class: 'form-control input-sm', disabled: input_disabled %>
          </div>
          <div class="form-group col-sm-12">
            <%= f.label :note, class: 'control-label' %>
            <%= f.trix_editor :note, id: :business_trip_note %>
          </div>
        </div>  <!-- /row -->
      </div> <!--/col-sm-6 -->
    </div>  <!-- /row -->



    <div class="row">
      <div class="col-sm-12">

        <fieldset class="my-fieldset">
          <legend class="my-fieldset"><%= t('pages.business_trip.fieldset.payment_title') %></legend>

          <div class="row">

            <div class="form-group col-sm-2">
              <%= f.label :payment_on_account, class: 'control-label' %>
              <%= f.number_field :payment_on_account, class: 'form-control input-sm', min: 0.00, step: 0.01 %>
            </div>

          </div> <!--/row -->
        </fieldset>
      </div>  <!--/col-sm-12 -->
    </div>  <!-- /row -->




    <div class="row">
      <div class="col-sm-12">

        <fieldset class="my-fieldset">
          <legend class="my-fieldset"><%= t('pages.business_trip.fieldset.roads_title') %></legend>

          <div class="row">
            <div class="form-group col-sm-12">

              <div class='roads clearfix'>
                <div class="row">
                  <div class="form-group required col-sm-2">
                    <%= f.label Road.human_attribute_name(:from), class: 'control-label' %>
                  </div>
                  <div class="form-group required col-sm-2">
                    <%= f.label Road.human_attribute_name(:start_date_time), class: 'control-label' %>
                  </div>
                  <div class="form-group required col-sm-2">
                    <%= f.label Road.human_attribute_name(:to), class: 'control-label' %>
                  </div>
                  <div class="form-group required col-sm-2">
                    <%= f.label Road.human_attribute_name(:end_date_time), class: 'control-label' %>
                  </div>
                  <div class="form-group required col-sm-2">
                    <%= f.label Road.human_attribute_name(:transport_type_id), class: 'control-label' %>
                  </div>
                  <div class="form-group required col-sm-1">
                    <%= f.label Road.human_attribute_name(:cost), class: 'control-label' %>
                  </div>
                </div>  <!-- /row -->

                <div class='roads-sub-form'>
                  <%= f.fields_for :roads do |road_form|  %>
                    <%= render 'road_fields', f: road_form %> 
                  <% end %>
                </div>
                <%= link_to_add_fields( t("helpers.links.link_to_add_fields_nested"), f, :roads) %>
              </div>

            </div>
          </div> <!--/row -->
        </fieldset>

      </div> <!--/col-sm-12 -->
    </div>  <!-- /row -->


    <hr class="hr-without-top-margin">


    <% if input_disabled %>
      <!-- for "Show" -->
    <% else %>
      <!-- form "New"/"Edit" -->
      <div class="row">

        <%= link_to business_trips_path, class: "btn btn-default" do %>
          <span class="fa fa-list"></span>
          <%= t("helpers.links.index") %>
        <% end %>
        <%= link_to :back, class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-arrow-left"></span>
          <%= t("helpers.links.back") %>
        <% end %>

        <%= f.submit nil, :class => 'btn btn-primary' %>
      </div> <!-- /row -->
    <% end %>
    
  <% end %>

</div> <!--/col-sm-11-->

