<div id="tab_point_files_zs_points">
  <fieldset class="my-fieldset">
    <legend class="my-fieldset colored-title"><%= subtitle %>&nbsp;&nbsp;-&nbsp;&nbsp;<%= point_file_zs_info_legend(@point_file) %></legend>

    <div clas="row">

      <div class="col-sm-12" class="clearfix">
        <div class="alert alert-success alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <h4 class="alert-heading"><strong>Praca z mapą</strong></h4>
          <p>Klikając podwójnie w poszczególne wiersze tabeli umieszczasz punkty na mapie. 
          Możesz również zaznaczyć wiersze (pojedynczy klik) i wybrać [Punkty ZS - wstaw zaznaczone]. 
          Innym sposobem jest umieszczenie "hurtowo" wszystkiech punktów z bieżacej strony - przycisk [Punkty ZS - wstaw z listy]. 
          Pamiętaj, że możesz zmieniać liczbę wyświetlanych wierszy, a zawartość listy filtrować.</p>
          <p>Uwaga! W pierwszej kolejności musisz zainicjować/wyczyścić mapę - przycisk [Mapa - pokaż/wyczyść] (poniżej)</p>
        </div>
        <div >
          <%#= button_tag "Show marker0", type: "button", onclick: "myShowFunction()", class: "btn btn-primary" %>
          <%#= button_tag "Delete marker0", type: "button", onclick: "myDeleteFunction()", class: "btn btn-primary" %>
          <%= button_tag "Punkty ZS - wstaw zaznaczone", type: "button", onclick: "geoShowManyMarkersZS('.selected')", class: "btn btn-primary", title: 'Ładuje wybrane punkty z tabeli', 'data-toggle' => 'tooltip' %>
          <%= button_tag "Punkty ZS - wstaw z listy", type: "button", onclick: "geoShowManyMarkersZS()", class: "btn btn-primary", title: 'Ładuje punkty z bieżącej strony tabeli', 'data-toggle' => 'tooltip' %>
        </div> <!--/col-sm-12 -->
      </div> <!--/col-sm-12 -->

      <div class="col-sm-12">
        <table id="point_file-zs_points-table" class="hover cell-border compact" cellspacing="0" width="100%" 
          data-source="<%= datatables_index_zs_point_project_point_files_path(project_id: @point_file.project.id, point_file_id: @point_file.id, format: :json) %>">
          <thead>
            <tr>
              <th>ID</th>
              <th><%= ZsPoint.human_attribute_name(:zs_2)  %></th>
              <th><%= ZsPoint.human_attribute_name(:zs_3)  %></th>
              <th><%= ZsPoint.human_attribute_name(:zs_4)  %></th>
              <th><%= ZsPoint.human_attribute_name(:zs_5)  %></th>
              <th><%= ZsPoint.human_attribute_name(:zs_6)  %></th>
              <th><%= ZsPoint.human_attribute_name(:zs_7)  %></th>
              <th><%= ZsPoint.human_attribute_name(:zs_8)  %></th>
              <th><%= ZsPoint.human_attribute_name(:zs_9)  %></th>
              <th><%= ZsPoint.human_attribute_name(:zs_10) %></th>
              <th><%= ZsPoint.human_attribute_name(:zs_11) %></th>
              <th><%= ZsPoint.human_attribute_name(:zs_12) %></th>
              <th><%= ZsPoint.human_attribute_name(:zs_13) %></th>
              <th><%= ZsPoint.human_attribute_name(:zs_14) %></th>
              <th><%= ZsPoint.human_attribute_name(:zs_15) %></th>
              <th><%= ZsPoint.human_attribute_name(:zs_16) %></th>
              <th><%= ZsPoint.human_attribute_name(:zs_17) %></th>
              <th><%= ZsPoint.human_attribute_name(:zs_18) %></th>
              <th><%= ZsPoint.human_attribute_name(:zs_19) %></th>
              <th><%= ZsPoint.human_attribute_name(:zs_20) %></th>
              <th><%= ZsPoint.human_attribute_name(:zs_21) %></th>
            </tr>
          </thead>
          <tbody>
             <!--data from JSON -->
          </tbody>
        </table>
      </div> <!--/col-sm-12 -->

    </div>  <!-- /row -->
    
  </fieldset>
</div>
