<br>
<div class="container-fluid"> 
  <div class="row">
    <div class="col-sm-2">
      <ul  class="nav nav-pills brand-pills nav-stacked">
        <li class="brand-nav active">
          <a href="#errand_show" data-toggle="tab"><%= errand_show_legend %></a>
        </li>
        <% if policy(:attachment).errand_index? %>
          <li class="brand-nav brand-nav-level-1">
            <a href="#attachments" data-toggle="tab"><%= attachment_index_legend %></a>
          </li>
        <% end %>
        <% if policy(:event).index? %>
          <li class="brand-nav brand-nav-level-1">
            <a href="#accessorizations" data-toggle="tab"><%= fa_icon("calendar", text: t("pages.accessorization.role_show")) %></a>
          </li>
        <% end %>
        <% if policy(:errand).work? %>
          <li class="brand-nav brand-nav-level-1">
            <a href="#works" data-toggle="tab"><%= work_index_legend %></a>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-sm-10">
      <div class="tab-content clearfix">

        <div class="tab-pane active" id="errand_show">
          <%= render 'data', input_disabled: true, subtitle: errand_info_legend(@errand) %>
        </div>

        <div class="tab-pane" id="attachments">
          <%= render 'attachments/attachments_tab', attachmenable: @errand, subtitle: errand_info_legend(@errand) %>
        </div>

        <div class="tab-pane" id="accessorizations">
          <%= render 'accessorizations', subtitle: errand_info_legend(@errand) %>
        </div>

        <div class="tab-pane" id="works">
          <%= render 'works/works_tab', trackable_type: "Errand", trackable_id: @errand.id, subtitle: errand_info_legend(@errand) %>
        </div>

      </div>
    </div>

  </div>

</div>


<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content"></div>
  </div>
</div>
