<div id="tab_through_events_attachments">
  <fieldset class="my-fieldset">
    <legend class="my-fieldset colored-title"><%= subtitle %>&nbsp;&nbsp;-&nbsp;&nbsp;<%= through_events_attachment_index_legend %></legend>

    <div class="row">

      <div id="id_through_events_attachment_breadcrumb" class="col-sm-9"></div>

      <div class="col-sm-12">
        <table id="through-events-attachmenable-attachments" class="hover cell-border compact" width="100%" 
          data-source="<%= datatables_index_through_events_attachments_path(for_parent_type: for_parent.class.to_s, for_parent_id: for_parent.id.to_s, format: :json) %>"
          data-attachmenable_type="<%= for_parent.class.to_s %>">
          <thead>
            <tr>
              <th> </th>
              <th> ID </th>
              <th> NAME_IF_FOLDER </th>
              <th><%= Attachment.human_attribute_name(:name) %></th>
              <th><%= Attachment.human_attribute_name(:attachmenable) %></th>
              <th><%= Attachment.human_attribute_name(:note) %></th>
              <th><%= Attachment.human_attribute_name(:user_id) %></th>
              <th><%= Attachment.human_attribute_name(:updated_at) %></th>
              <th><%= Attachment.human_attribute_name(:file_size_or_badge) %></th>
              <th>  Akcja </th>
            </tr>
          </thead>
          <tbody>                    
            <!--data from JSON -->
          </tbody>
        </table>
      </div> <!--/col-sm-12 -->

    </div>

  </fieldset>
</div>


<script type="text/javascript">

  function linkToThroughEventsAttachmentBreadcrumb(breadcrumb_ancestry_json={parent_id: null, ancestry_path: [], ancestor_ids: []}){

    // Store the latest `attachment_breadcrumb_path` object for next reload
    localStorage.setItem( 'ls_through_events_attachment_breadcrumb', JSON.stringify(breadcrumb_ancestry_json) );
    // redraw for new ajax data: d.attachment_parent_id 
    $('#through-events-attachmenable-attachments').DataTable().draw();
    buildAttachmentBreadcrumb("id_through_events_attachment_breadcrumb", 
                              [],
                              "linkToThroughEventsAttachmentBreadcrumb", 
                              breadcrumb_ancestry_json);

  };    

  $(document).ready(function() {

    localStorage.removeItem('ls_through_events_attachment_breadcrumb');
    buildAttachmentBreadcrumb("id_through_events_attachment_breadcrumb", 
                              [],
                              "linkToThroughEventsAttachmentBreadcrumb", 
                              breadcrumb_ancestry_json={parent_id: null, ancestry_path: [], ancestor_ids: []});

  });

</script>