<div class="col-sm-12">
  <div class="row">
    <%= chart_events_by_status %>
  </div> <!--/row-->    
</div> <!--/col-sm-12-->    

<div class="col-sm-12">
  <div class="row">
    <hr>
  </div> <!--/row-->    
</div> <!--/col-sm-12-->    

<div class="col-sm-12">
  <div class="row">
    <%= chart_events_by_type %>
  </div> <!--/row-->    
</div> <!--/col-sm-12-->    

<div class="col-sm-12">
  <div class="row">
    <hr>
  </div> <!--/row-->    
</div> <!--/col-sm-12-->    

<div class="col-sm-6">
  <div class="row">
    <%= chart_events_by_type_for_status(EventStatus::EVENT_STATUS_OPENED) %>
  </div> <!--/row-->    
</div> <!--/col-sm-12-->    

<div class="col-sm-6">
  <div class="row">
    <%= chart_events_by_type_for_status(EventStatus::EVENT_STATUS_VERIFICATION_UKE) %>
  </div> <!--/row-->    
</div> <!--/col-sm-12-->    

<div class="col-sm-6">
  <div class="row">
    <%= chart_events_by_type_for_status(EventStatus::EVENT_STATUS_CLOSED) %>
  </div> <!--/row-->    
</div> <!--/col-sm-12-->    

<div class="col-sm-6">
  <div class="row">
    <%= chart_events_by_type_for_status(EventStatus::EVENT_STATUS_VERIFICATION_CPPC) %>
  </div> <!--/row-->    
</div> <!--/col-sm-12-->    

<div class="col-sm-6">
  <div class="row">
    <%= chart_events_by_type_for_status(EventStatus::EVENT_STATUS_CANCELED) %>
  </div> <!--/row-->    
</div> <!--/col-sm-12-->    

<div class="col-sm-12">
  <div class="row">
    <hr>
  </div> <!--/row-->    
</div> <!--/col-sm-12-->    

<div class="col-sm-12">
  <div class="row">
    <%= chart_events_by_month %>
  </div> <!--/row-->    
</div> <!--/col-sm-12-->    

<div class="col-sm-12">
  <div class="row">
    <hr>
  </div> <!--/row-->    
</div> <!--/col-sm-12-->    

<div class="col-sm-12">
  <div class="row">
    <%= chart_events_by_month_type %>
  </div> <!--/row-->    
</div> <!--/col-sm-12-->    

