<br>
<div class="container-fluid"> 
  <div class="row">
    <div class="col-sm-2">
      <ul  class="nav nav-pills brand-pills nav-stacked">
        <li class="brand-nav active">
          <a href="#project_show" data-toggle="tab"><%= project_show_legend %></a>
        </li>
        <% if policy(:attachment).project_index? %>
          <li class="brand-nav brand-nav-level-1">
            <a href="#attachments" data-toggle="tab"><%= attachment_index_legend %></a>
          </li>
        <% end %>
        <% if policy(:event).index? %>
          <li class="brand-nav brand-nav-level-1">
            <a href="#events" data-toggle="tab"><%= event_index_legend %></a>
          </li>
        <% end %>
        <% if policy(:attachment).project_index? %>
          <li class="brand-nav brand-nav-level-2">
            <a href="#through_events_attachments" data-toggle="tab"><%= through_events_attachment_index_legend %></a>
          </li>
        <% end %>
        <% if policy(:statement).project_index? %>
          <li class="brand-nav brand-nav-level-2">
            <a href="#through_events_statements" data-toggle="tab"><%= through_events_statement_index_legend %></a>
          </li>
        <% end %>
        <% if policy(:correspondence).project_index? %>
          <li class="brand-nav brand-nav-level-2">
            <a href="#through_events_correspondences" data-toggle="tab"><%= through_events_correspondence_index_legend %></a>
          </li>
        <% end %>
        <% if policy(:opinion).project_index? %>
          <li class="brand-nav brand-nav-level-2">
            <a href="#through_events_opinions" data-toggle="tab"><%= through_events_opinion_index_legend %></a>
          </li>
        <% end %>
        <% if policy(:protocol).project_index? %>
          <li class="brand-nav brand-nav-level-2">
            <a href="#through_events_protocols" data-toggle="tab"><%= through_events_protocol_index_legend %></a>
          </li>
        <% end %>
        <% if policy(:inspection_protocol).project_index? %>
          <li class="brand-nav brand-nav-level-2">
            <a href="#through_events_inspection_protocols" data-toggle="tab"><%= through_events_inspection_protocol_index_legend %></a>
          </li>
        <% end %>
        <% if policy(:measurement).project_index? %>
          <li class="brand-nav brand-nav-level-2">
            <a href="#through_events_measurements" data-toggle="tab"><%= through_events_measurement_index_legend %></a>
          </li>
        <% end %>
        <% if policy(:documentation).project_index? %>
          <li class="brand-nav brand-nav-level-2">
            <a href="#through_events_documentations" data-toggle="tab"><%= through_events_documentation_index_legend %></a>
          </li>
        <% end %>
        <% if policy(:info).project_index? %>
          <li class="brand-nav brand-nav-level-2">
            <a href="#through_events_infos" data-toggle="tab"><%= through_events_info_index_legend %></a>
          </li>
        <% end %>
        <% if policy(:photo).project_index? %>
          <li class="brand-nav brand-nav-level-2">
            <a href="#through_events_photos" data-toggle="tab"><%= through_events_photo_index_legend %></a>
          </li>
        <% end %>
        <% if policy(:proposal_file).index? %>
          <li class="brand-nav brand-nav-level-1">
            <a href="#proposal_files" data-toggle="tab"><%= proposal_file_index_legend %></a>
          </li>
          <% if @proposal_file.present? %>
            <li class="brand-nav brand-nav-level-2">
              <a href="#proposal_files_xml_data_show" data-toggle="tab"><%= proposal_file_xml_data_show_legend %></a>
            </li>
            <li class="brand-nav brand-nav-level-2">
              <a href="#proposal_files_xml_miejsce_realizacji_show" data-toggle="tab"><%= proposal_file_xml_miejsce_realizacji_show_legend %></a>
            </li>
            <li class="brand-nav brand-nav-level-2">
              <a href="#proposal_files_xml_wybrana_technologia_show" data-toggle="tab"><%= proposal_file_xml_wybrana_technologia_show_legend %></a>
            </li>
            <li class="brand-nav brand-nav-level-2">
              <a href="#proposal_files_xml_wskaznik_show" data-toggle="tab"><%= proposal_file_xml_wskaznik_show_legend %></a>
            </li>
            <li class="brand-nav brand-nav-level-2">
              <a href="#proposal_files_xml_zadanie_show" data-toggle="tab"><%= proposal_file_xml_zadanie_show_legend %></a>
            </li>
          <% end %>
        <% end %>
        <% if policy(:point_file).index? %>
          <li class="brand-nav brand-nav-level-1">
            <a href="#point_files" data-toggle="tab"><%= point_file_index_legend %></a>
          </li>
        <% end %>
        <% if policy(:project).work? %>
          <li class="brand-nav brand-nav-level-1">
            <a href="#works" data-toggle="tab"><%= work_index_legend %></a>
          </li>
        <% end %>

      </ul>
    </div>
    <div class="col-sm-10">
      <div class="tab-content clearfix">

        <div class="tab-pane active" id="project_show">
          <%= render 'data', input_disabled: true, subtitle: project_info_legend(@project) %>
        </div>

        <div class="tab-pane" id="attachments">
          <%= render 'attachments/attachments_tab', attachmenable: @project, subtitle: project_info_legend(@project) %>
        </div>

        <div class="tab-pane" id="events">
          <%= render 'events', subtitle: project_info_legend(@project) %>
        </div>

        <div class="tab-pane" id="through_events_attachments">
          <%= render 'attachments/through_events_attachments_tab', for_parent: @project, subtitle: project_info_legend(@project) %>
        </div>

        <div class="tab-pane" id="through_events_statements">
          <%= render 'statements/through_events_statements_tab', for_parent: @project, subtitle: project_info_legend(@project) %>
        </div>

        <div class="tab-pane" id="through_events_correspondences">
          <%= render 'correspondences/through_events_correspondences_tab', for_parent: @project, subtitle: project_info_legend(@project) %>
        </div>

        <div class="tab-pane" id="through_events_opinions">
          <%= render 'opinions/through_events_opinions_tab', for_parent: @project, subtitle: project_info_legend(@project) %>
        </div>

        <div class="tab-pane" id="through_events_protocols">
          <%= render 'protocols/through_events_protocols_tab', for_parent: @project, subtitle: project_info_legend(@project) %>
        </div>

        <div class="tab-pane" id="through_events_inspection_protocols">
          <%= render 'inspection_protocols/through_events_inspection_protocols_tab', for_parent: @project, subtitle: project_info_legend(@project) %>
        </div>

        <div class="tab-pane" id="through_events_measurements">
          <%= render 'measurements/through_events_measurements_tab', for_parent: @project, subtitle: project_info_legend(@project) %>
        </div>

        <div class="tab-pane" id="through_events_documentations">
          <%= render 'documentations/through_events_documentations_tab', for_parent: @project, subtitle: project_info_legend(@project) %>
        </div>

        <div class="tab-pane" id="through_events_infos">
          <%= render 'infos/through_events_infos_tab', for_parent: @project, subtitle: project_info_legend(@project) %>
        </div>

        <div class="tab-pane" id="through_events_photos">
          <%= render 'photos/through_events_photos_tab', for_parent: @project, subtitle: project_info_legend(@project) %>
        </div>

        <div class="tab-pane" id="proposal_files">
          <%= render 'projects/proposal_files/index', subtitle: project_info_legend(@project) %>
        </div>
  
        <% if @proposal_file.present? %>
          <div class="tab-pane" id="proposal_files_xml_data_show">
            <%= render 'projects/proposal_files/xml_data', subtitle: project_info_legend(@project) %>
          </div>

          <div class="tab-pane" id="proposal_files_xml_miejsce_realizacji_show">
            <%= render 'projects/proposal_files/xml_miejsce_realizacji_tables', subtitle: project_info_legend(@project) %>
          </div>

          <div class="tab-pane" id="proposal_files_xml_wybrana_technologia_show">
            <%= render 'projects/proposal_files/xml_wybrana_technologia_tables', subtitle: project_info_legend(@project) %>
          </div>

          <div class="tab-pane" id="proposal_files_xml_wskaznik_show">
            <%= render 'projects/proposal_files/xml_wskaznik_tables', subtitle: project_info_legend(@project) %>
          </div>

          <div class="tab-pane" id="proposal_files_xml_zadanie_show">
            <%= render 'projects/proposal_files/xml_zadanie_tables', subtitle: project_info_legend(@project) %>
          </div>
        <% end %>


        <div class="tab-pane" id="point_files">
          <%= render 'point_files', subtitle: project_info_legend(@project) %>
        </div>

        <div class="tab-pane" id="works">
          <%= render 'works/works_tab', trackable_type: "Project", trackable_id: @project.id, subtitle: project_info_legend(@project) %>
        </div>

      </div>
    </div>

  </div>

</div>


<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content"></div>
  </div>
</div>
