<div class="row">
  <div class="col-sm-12">
    <%= form_with(model: enrollment, local: true) do |f| %>

      <% input_disabled ||= false  
         #if input_disabled is not passed to the partial it doesn't crash. 
         # We default it to false 
      %>

      <%= form_errors_for enrollment %>


      <% if (enrollment.new_record? && policy(:enrollment).create?) || (!enrollment.new_record? && policy(:enrollment).update?) %> 
        <div class="row">
          <div class="col-sm-6">
            <div class="row">

              <div class="form-group required col-sm-12">
                <%= f.label :name, class: 'control-label' %>
                <%= f.text_field :name, autofocus: true, class: 'form-control input-sm', disabled: input_disabled %>
              </div>


            </div>  <!-- /row -->
          </div>  <!-- /col-sm-6 -->

          <div class="col-sm-6">
            <div class="row">


              <div class="form-group col-sm-12">
                <%= f.label :note, class: 'control-label' %>
                <%= f.trix_editor :note, required: true, autofocus: true %>
              </div>

            </div>
          </div> <!--/col-sm-6 -->
        </div>  <!-- /row -->

      <% end %>


      <hr class="hr-without-top-margin">

      <% if input_disabled %>
        <!-- for "Show" -->
      <% else %>
        <!-- form "New"/"Edit" -->
        <div class="row">
          <div class="col-sm-12">

            <%= link_to enrollments_path, class: "btn btn-default" do %>
              <span class="glyphicon glyphicon-th-list"></span>
              <%= t("helpers.links.index") %>
            <% end %>
            <%= link_to :back, class: "btn btn-default" do %>
              <span class="glyphicon glyphicon-arrow-left"></span>
              <%= t("helpers.links.back") %>
            <% end %>
            <%= f.submit nil, :class => 'btn btn-success' %>

          </div> <!--/col-sm-12 -->
        </div> <!-- /row -->
      <% end %>
      
    <% end %>

  </div> <!--/col-sm-12-->
</div>