<div id="tab_through_events_measurements">
  <fieldset class="my-fieldset">
    <legend class="my-fieldset colored-title"><%= subtitle %>&nbsp;&nbsp;-&nbsp;&nbsp;<%= through_events_measurement_index_legend %></legend>

    <div class="row">

      <div class="col-sm-12">
        <table id="through-events-measurementable-measurements" class="hover cell-border compact" width="100%" 
          data-source="<%= datatables_index_through_events_measurements_path(for_parent_type: for_parent.class.to_s, for_parent_id: for_parent.id.to_s, format: :json) %>">
          <thead>
            <tr>
              <th>0 ID </th>
              <th><%= Measurement.human_attribute_name(:attached_file) %></th>
              <th><%= Measurement.human_attribute_name(:measurementable) %></th>
              <th><%= Measurement.human_attribute_name(:note) %></th>
              <th><%= Measurement.human_attribute_name(:user_id) %></th>
              <th><%= Measurement.human_attribute_name(:updated_at) %></th>
              <th><%= Measurement.human_attribute_name(:file_size) %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>                    
            <!--data from JSON -->
          </tbody>
        </table>
      </div> <!--/col-sm-12 -->

    </div>

  </fieldset>
</div>

