<div class="col-sm-12">
  <table id="accessorizations-table" class="hover cell-border compact" width="100%" data-source="<%= datatables_index_role_accessorizations_path(role_id: @role.id, format: :json) %>">
    <thead>
      <tr>
        <th>ID</th>
        <th><%= Event.human_attribute_name(:title) %></th>
        <th><%= Event.human_attribute_name(:event_type_id) %></th>
        <th><%= Event.human_attribute_name(:end_date) %></th>
        <th><%= Event.human_attribute_name(:event_status_id) %></th>
        <th><%= Event.human_attribute_name(:project_id) %></th>
        <th><%= Project.human_attribute_name(:customer_id) %></th>
        <th><%= Project.human_attribute_name(:project_status_id) %></th>
        <th><%= Event.human_attribute_name(:event_effect_id) %></th>
        <th><%= Event.human_attribute_name(:attachments_count) %></th>
        <th><%= Event.human_attribute_name(:flat_assigned_users) %></th>
      </tr>
    </thead>
    <tbody>
       <!--data from JSON -->
    </tbody>
  </table>
</div> <!--/col-sm-12 -->
